body {
    background-color:rgb(207, 226, 245);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: grey;
    margin: 50px;
}

a {
    color: rgb(69, 105, 140);
    text-decoration: none;
    /* background-color: grey; */
}

h1 {
    font-size: 76px;
    color: blueviolet;
    font-weight: normal;
}

.city-wrapper {
    padding: 40px;
    padding-left: 120px;
    margin-bottom: 50px;
    background-color: blue;
}

.city-wrapper.london > p {
    font-size: 40px;
    color: white;
    font-weight: bolder;
}